*.class
*.log

dz-cassandra/Dockerfile

dz-nats-client/main

dz-nats-server/Dockerfile

dz-telegraf/Dockerfile

properties/_configuration-telegraf-cassandra_count.properties

scripts/docker-compose-merge.yml

# sbt specific
.cache
.history
.cache-tests
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

concourse/credentials.yml

concourse/credentials.properties

docker-compose-merge.yml

integration/compose/Dockerfile

integration/int_compose/Dockerfile
